<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CMDS.PBL.TCET.2020</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>lodgecomplaintServlet</display-name>
    <servlet-name>lodgecomplaintServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.lodgecomplaintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lodgecomplaintServlet</servlet-name>
    <url-pattern>/lodgecomplaintServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorityLoginServlet</display-name>
    <servlet-name>AuthorityLoginServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.AuthorityLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityLoginServlet</servlet-name>
    <url-pattern>/AuthorityLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCasesServlet</display-name>
    <servlet-name>ViewCasesServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.ViewCasesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCasesServlet</servlet-name>
    <url-pattern>/ViewCasesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackStatusServlet</display-name>
    <servlet-name>TrackStatusServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.TrackStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackStatusServlet</servlet-name>
    <url-pattern>/TrackStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAuthorityServlet</display-name>
    <servlet-name>AddAuthorityServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.AddAuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAuthorityServlet</servlet-name>
    <url-pattern>/AddAuthorityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAuthorityServlet</display-name>
    <servlet-name>UpdateAuthorityServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.UpdateAuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAuthorityServlet</servlet-name>
    <url-pattern>/UpdateAuthorityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAuthorityServlet</display-name>
    <servlet-name>DeleteAuthorityServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.DeleteAuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAuthorityServlet</servlet-name>
    <url-pattern>/DeleteAuthorityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashBoardServlet</display-name>
    <servlet-name>AdminDashBoardServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.AdminDashBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashBoardServlet</servlet-name>
    <url-pattern>/AdminDashBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAuthorityServlet</display-name>
    <servlet-name>ViewAuthorityServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.ViewAuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAuthorityServlet</servlet-name>
    <url-pattern>/ViewAuthorityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorityDashboardServlet</display-name>
    <servlet-name>AuthorityDashboardServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.AuthorityDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityDashboardServlet</servlet-name>
    <url-pattern>/AuthorityDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAuthorityProfile</display-name>
    <servlet-name>UpdateAuthorityProfile</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.UpdateAuthorityProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAuthorityProfile</servlet-name>
    <url-pattern>/UpdateAuthorityProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCaseStatus</display-name>
    <servlet-name>UpdateCaseStatus</servlet-name>
    <servlet-class>com.cmds.pbl.tcet.controller.UpdateCaseStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCaseStatus</servlet-name>
    <url-pattern>/UpdateCaseStatus</url-pattern>
  </servlet-mapping>
</web-app>